<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span>Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{car.code}}</span>
                </dd>
                <dt><span>Car Type</span></dt>
                <dd>
                    <span>{{car.carType}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{car.category}}</span>
                </dd>
                <dt><span>Serial Num</span></dt>
                <dd>
                    <span>{{car.serialNum}}</span>
                </dd>
                <dt><span>Hide</span></dt>
                <dd>
                    <span>{{car.hide}}</span>
                </dd>
                <dt><span>Is New</span></dt>
                <dd>
                    <span>{{car.isNew}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
